.App {
  text-align: center;
}
.mainButton {
  position: absolute;
  top: 100px;
}
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #ccc; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7676; /* Set the color of the scrollbar thumb on hover */
}
